

  .form-group{
    padding: 10px;
    margin-bottom:2px;
    display: grid;
    }
    label{
        font-weight: 700;
    }
    
    .input-field {
        width:400px;
        border: solid 1px black;
        border-radius: 1pt;
    }
    .header{
       font-weight: 70;
    }
    
    .button{
        margin-left:10px;
        background:#241571;
        color:white;
    }
    .login-container {
        margin-top:50px;
    }
