.user-container {
    position: relative;
    top:50px;
    font-size: 20px;
}

.group{
    margin-left:10px;
    margin-bottom:10px;
    box-sizing: content-box;
    border:1px black solid;
    width: 400px;
    
}

.header {
    font-weight:200px;
    font-size:30px;
    margin-left:10px;
}